* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #9bc3ce;
    color: #252424;
    line-height: 1.6;
}
header {
    background-color: rgb(13, 166, 212);
    color: rgb(34, 34, 34);
    padding: 20px;
}
.logo h1 {
    font-size: 28px;
    text-align: center;
}
.logo p {
    font-size: 14px;
    text-align: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 200px;
    margin-top: 15px;
    background-color: rgb(210, 118, 27);
    text-align: center;
}
nav ul li a {
    color: rgb(29, 23, 209);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background-color: rgb(13, 166, 212);
    padding: 60px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 15px;
}
.hero p {
    max-width: 700px;
    margin: auto;
    margin-bottom: 25px;
}

.hero a {
    background-color: #260bd7;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}
.hero a:hover {
    background-color: #3079e7;
}

.features {
    padding: 50px 20px;
    background-color: rgb(13, 166, 212);
}
.features h2 {
    text-align: center;
    margin-bottom: 40px;
}
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.feature-box {
    background-color: rgb(17, 3, 117);
    color: aliceblue;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
}
.feature-box h3 {
    margin-bottom: 10px;
    color: rgb(3, 158, 31);
}
.about {
    background-color: rgb(13, 166, 212);
    padding: 50px 20px;
    text-align: center;
}
.about h2 {
    margin-bottom: 15px;
}
footer {
    background-color: rgb(13, 166, 212);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .hero h2 {
        font-size: 26px;
    }
}